.button{
  position: relative;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: $color-text;
  border: none;
  cursor: pointer;
  background: none;
  padding-left: 16px;
  padding-bottom:16px;
  &__all{
    &:before{
      position: absolute;
      content: url("../img/arrow.png");
      top: 0;
      left: 0;
    }
  }
}
