.icon-item {
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 20px;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  &--pink {
    background-color: #FF3E79;
  }
}

/*.icon-item--pink {*/
/*    background-color: #FF3E79;*/
/*}*/
