@import "variables";
@import "../blocks/header/header";
@import "../blocks/icon-item/icon-item";
@import "../blocks/burger/burger";
@import "../blocks/info/info";
@import "../blocks/contacts/contacts";
@import "../blocks/swiper/swiper";
@import "../blocks/title/title";
@import "../blocks/subtitle/subtitle";
@import "../blocks/services/services";
@import "../blocks/button/button";

*, *:before, *:after {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}
*, *:before, *:after {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  font-family: $font-family;
  font-size: 1.6rem;
  line-height: $line-height;
  background-color: $color-main-background;
  color: $color-text;
  max-width: 1440px;
}
