@import "variables";
@import "../blocks/header/header";
@import "../blocks/icon-item/icon-item";
@import "../blocks/burger/burger";
@import "../blocks/info/info";
@import "../blocks/contacts/contacts";

*, *:before, *:after {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}
*, *:before, *:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: $font-family;
  font-size: 1.6rem;
  line-height: $line-height;
  background-color: $color-main-background;
  color: $color-text;
}
