$color-main-background: #F8F8F8;
$color-white: #FFFFFF;
$color-button: #FF3E79;
$color-border: #41F6D7;

$color-text: #1B1C21;
$color-text--gray: #7E7E82;

$font-size: 1.6rem;
$font-size--small: 1.4rem;

$line-height: 2.4rem;
$line-height--medium: 2rem;
$line-height--small: 1.8rem;

$font-family: "TTLakes", sans-serif;


$screen-xs: 0;
$screen-sm: 320px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1440px;
